{{define "header"}}
<!doctype html>

<html lang="en">
  <head>
    <title>Nerijus Dulke</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Hi! I'm Nerjus, a software engineer from Lithuania and this is where I show off my side projects and other cool stuff.">
    <link rel="stylesheet" href="/static/styles/main.min.css" />
    <!-- <meta http-equiv="refresh" content="5" /> -->

  </head>

  <body class="bg-background-1 text-white font-roboto lg:container">
{{end}}