{{define "header"}}
<!doctype html>

<html lang="en">
  <head>
    <title>
      {{with .Title}}{{.}}{{else}}Nerijus Dulkė{{end}}
    </title>
    <meta name="viewport" content="width=device-width">
    <meta 
      name="description" 
      content="{{with .Description}}{{.}}{{else}}Hi! I'm Nerjus, a software engineer from Lithuania and this is where I show off my side projects and other cool stuff.{{end}}"
    >
    
    <link rel="stylesheet" href="/static/styles/main-{{with .Version}}{{.}}{{end}}.min.css" />
    {{/* <meta http-equiv="refresh" content="5" /> */}}

    <script async defer data-domain="nerijusdulke.lt" src="https://analytics.nerijusdulke.lt/js/plausible.js"></script>
  </head>

  <body class="bg-background-1 text-white font-roboto lg:container">
{{end}}