{{define "navigation"}}

<header class="flex p-4 justify-between text-slate-50 border-solid border-b border-slate-700 font-medium tracking-wide">
  <a class="hover:underline cursor-pointer" href="/">
    Nerijus Dulkė
  </a>

  <nav class="flex gap-2">
    <a class="hover:underline cursor-pointer" href="/">
      About
    </a>
    <a class="hover:underline cursor-pointer" href="/projects">
      Projects
    </a>
    <a class="hover:underline cursor-pointer" href="/blog">
      Blog
    </a>
  </nav>
</header>

{{end}}