{{define "projectList"}}

<div class="px-4 my-4 grid grid-cols-1 xl:grid-cols-2 gap-4">
  {{range .}}
    <div class="border-slate-700 border pl-4 flex gap-4 rounded-md grow">
      <div class="flex flex-col justify-center grow py-5">
        <a class="pb-4 font-semibold text-xl hover:underline cursor-pointer" href="/projects/{{.Slug}}">
          {{.Name}}
        </a>
        <div class="border-slate-700 border-b pb-2">{{.Description}}</div>
        <div class="flex py-2 gap-2">
          {{range .Tags}}
            <div class="bg-emerald-700/30 text-green-300 px-3 py-1 rounded-md">{{.}}</div>
          {{end}}
        </div>
      </div>
      {{if (ne .ImageUrl "")}}
        <img class="max-w-xs hidden sm:block rounded-r-md max-h-48" src="{{.ImageUrl}}" />
      {{end}}
    </div>
  {{end}}
</div>

{{end}}