{{template "header" .}}

{{template "navigation"}}

<div class="markdown px-4">
  {{.Data.LongDescriptionHTML}}
</div>

<div class="flex justify-start px-4 pt-4 gap-4">
  {{if (ne .Data.RepositoryUrl "")}}
    <a href="{{.Data.RepositoryUrl}}">
      <img src="/static/icons/github.svg" class="w-7" alt="Github"/>
    </a>
  {{end}}
  {{if (ne .Data.Url "")}}
    <a href="{{.Data.Url}}">
      <img src="/static/icons/external-link.svg" class="w-7" alt="Link to project"/>
    </a>
  {{end}}
</div>

{{template "footer"}}